.createAndEdit {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.createAndEdit .createAndEditContainer {
  margin: auto;
  padding: 10px 15px 10px 10px;
  width: 80%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
}

.createAndEdit .createAndEditContainer .createAndEditNotFound {
  text-align: center;
}

.createAndEdit .createAndEditContainer .createAndEditNotFound span {
  font-size: 1em;
}

.createAndEdit .createAndEditContainer .createAndEditTitle {
  text-align: center;
}

.createAndEdit .createAndEditContainer .createAndEditTitle span {
  font-size: 1.2em;
}

.createAndEdit .createAndEditContainer .formInputFile input {
  width: 30px;
  height: 30px;
  outline: none;
  width: calc(100% - 5px);
  font-size: 0.8em;
  margin-top: 5px;
}

.createAndEdit .createAndEditContainer .formInputFile img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.createAndEdit .createAndEditContainer .formContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.createAndEdit .createAndEditContainer .formContainer .formItem + .formItem {
  padding-top: 15px;
}

.createAndEdit .createAndEditContainer .formContainer .formItem {
  width: 100%;
}

.createAndEdit .createAndEditContainer .formContainer .formItem input {
  height: 30px;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding-left: 5px;
  width: calc(100% - 5px);
  font-size: 0.8em;
  margin-top: 5px;
}

.createAndEdit .createAndEditContainer .formContainer .errorMessage {
  background-color: rgba(255, 0, 0, 0.188);
  width: 100%;
  margin-top: 20px;
  padding: 15px 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  border-radius: 3px;
  display: inline;
}

.createAndEdit .createAndEditContainer .formContainer .errorMessage span {
  color: #ff6c6c;
  font-size: 0.8em;
}

.createAndEdit .createAndEditContainer .formContainer .formBtnContainer {
  width: 100%;
}

.createAndEdit .createAndEditContainer .formContainer .formBtnContainer .formBtn {
  margin-top: 10px;
}

.createAndEdit .createAndEditContainer .formContainer .formBtnContainer .formBtn button {
  background-color: #82bbe4;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  height: 30px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
}

@media screen and (min-width: 450px) {
  .createAndEdit {
    margin-top: 20px;
  }
}

@media screen and (min-width: 600px) {
  .createAndEdit .createAndEditContainer .createAndEditNotFound span {
    font-size: 1.3em;
  }
  .createAndEdit .createAndEditContainer .createAndEditTitle {
    text-align: center;
  }
  .createAndEdit .createAndEditContainer .createAndEditTitle span {
    font-size: 1.5em;
  }
  .createAndEdit .createAndEditContainer .formInputFile span {
    font-size: 1.3em;
  }
  .createAndEdit .createAndEditContainer .formContainer {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 768px) {
  .createAndEdit .createAndEditContainer {
    width: 600px;
  }
  .createAndEdit .createAndEditContainer .formContainer {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 1200px) {
  .createAndEdit {
    padding-left: 100px;
  }
  .createAndEdit .createAndEditContainer {
    width: 600px;
  }
  .createAndEdit .createAndEditContainer .createAndEditNotFound span {
    font-size: 2em;
  }
  .createAndEdit .createAndEditContainer .formContainer {
    font-size: 1.3em;
  }
}
/*# sourceMappingURL=createAndEdit.module.css.map */