.hidden {
  display: none;
}

.header {
  background-color: rgb(68, 121, 156);
  .navContainer {
    user-select: none;
    .menuBtn {
      position: absolute;
      top: 10px;
      right: 15px;
      cursor: pointer;
      font-size: 30px;
      color: #fff;
    }
    .navIcon {
      display: flex;
      align-items: center;
      height: 50px;
      padding-left: 15px;
      li + li {
        padding-left: 20px;
        // padding-right: 20px;
      }
      a {
        font-size: 25px;
        color: #fff;
      }
    }
    .navMember nav {
      background-color: rgb(85, 121, 152);
      width: 100%;
      position: absolute;
      top: 50px;
      z-index: 1;
      //   right: -100%;
      li {
        text-align: center;
        a {
          font-size: 1.5rem;
          display: block;
          padding: 20px 0;
          color: #fff;
          transition: 0.3s;
          &:hover {
            color: rgb(82, 143, 186);
          }
        }
      }
    }
  }
  .searchContainer {
    display: flex;
    height: 80px;
    // background-color: red;
    .container {
      // background-color: red;
      width: 1200px;
      margin: auto;
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      // padding: 10px 0;
      box-sizing: border-box;
      height: 60px;
      .logo {
        display: none;
        a {
        }
      }
      .searchBar {
        width: 80%;
        display: flex;
        align-items: center;
        border-radius: 3px;
        background-color: #fff;
        margin-left: 15px;
        .searchInput {
          width: 100%;
          input {
            width: 100%;
            height: 60px;
            font-size: 20px;
            outline: none;
            border: none;
            border-radius: 3px 0 0 3px;
            padding-left: 10px;
          }
        }
      }
      .searchBtn {
        background-color: #1687b4;
        margin: 0 10px 0 20px;
        border-radius: 3px;
        a {
          display: block;
          font-size: 20px;
          padding: 10px 25px;
          color: #fff;
        }
      }
    }
    .searchCart {
      width: 20%;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        font-size: 30px;
        color: #fff;
      }
    }
  }
}

#menuControl:checked ~ .header .navMember nav {
  right: 0px;
}

@media screen and (min-width: 768px) {
  .menuBtn {
    display: none;
  }
  .header {
    .navContainer {
      width: 100%;
      display: flex;
      position: relative;
      .container {
        width: 1200px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        .navIcon {
          padding-left: 0;
          li + li {
            a {
            }
          }
        }
        .navMember {
          display: flex;
          align-items: center;
          nav {
            position: relative;
            right: 0;
            top: 0;
            width: auto;
            height: auto;
            background-color: transparent;

            ul {
              display: flex;
              li + li {
                padding-left: 20px;
              }
              a {
                padding: 0;
              }
            }
          }
        }
      }
    }
    .searchContainer {
      .container {
        .logo {
          width: 15%;
          height: 60px;
          display: flex;
          align-items: center;
        }
        .logo a {
          // display: flex;
          font-size: 1.7em;
          color: #fff;
        }
        .searchBar {
          width: 75%;
          .searchInput {
            margin-left: 0px;
            input {
            }
          }
          .searchBtn {
          }
          a {
          }
        }
        .searchCart {
          width: 10%;
          a {
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .header {
    .searchContainer {
      .container {
        .logo {
          width: 18%;
        }
        .logo a {
          font-size: 2.5em;
        }
        .searchBar {
          width: 70%;
          .searchBtn {
          }
          a {
          }
        }
        .searchCart {
          width: 10%;
          a {
          }
        }
      }
    }
  }
}
